{% include "header.html" %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for n in range(0, c_items): %}
                        <tr>
                            <th scope="row">{{n+1}}</th>
                                <td>{{items[n].product_name}}</td>
                                <td>{{items[n].product_price}}</td>
                                <td><a href="{{url_for('cart_item_remove', item_id=items[n].id)}}">Remove</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h5>Total Amount: {{amount}}</h5>
                <form action="{{url_for('create_checkout_session', amount=amount)}}" method="POST">
                    <button type="submit">Proceed to Checkout</button>
                </form>
            </div>
        </div>
    </div>

{% include "footer.html" %}